/* .homeHeader{
    text-align:center;
    background-color: pink;
    color:black;
    height:28px;
    font-weight: bold;
} */

::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
/* 
  the above CSS styling provides a horizontal scroll bar */