.header{
background-color: black;
height: 36px;
padding: 8px 32px 8px 16px;
}
.login-button{
    float: right;
    font-weight: bold;
    color:black;
}
.app-logo {
    animation: app-logo-spin infinite 8s linear;
    height: 35px;
    background: #ff7f7f;
 }
 .mainContainer{

    
 }

 /* dbt: when to go for %(relative) and when for px(absolute) */
 /* Also here the dimensions are fixed and does not dynamically resize with inner content growing*/
 .loginRegModal{


 /* width:25%;
  margin:auto;
  margin-top: 25%;
  margin-bottom: 25%;
  padding: 1%; */


 }
 
 @keyframes app-logo-spin {
    from { transform: scaleX(-1); }
 }